*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h5{
    position: relative;
    bottom: 250px;
    left: 15%;
}

.skill{
    width: 100px;
    height: 100px;
    position: relative;
    right:2vh;
    top: -24vh;
    
}.skill2{
    width: 100px;
    height: 100px;
    position: relative;
    right: 30vh;
    top: -5vh;
    display: inline-block;
    margin-right: 40px;
}
.skill3{
    width: 100px;
    height: 100px;
    position: relative;
    right: 76vh;
    top: 18vh;
    display: inline-block;
    margin-right: 40px;
}

.outer{
    height:100px ;
    width: 100px;
    border-radius: 50%;
    padding: 14px;
    
    box-shadow: 6px 6px 10px -1px rgba(255, 253, 253),
                -6px -6px 10px -1px rgb(255, 255, 255);
}

.inner{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

    box-shadow: inset 4px 4px 6px -1px rgb(0, 0, 0,0.2),
                inset -4px -4px 6px -1px rgb(255, 255, 255,0.7),
                -0.5px -0.5px 0px rgb(255, 255, 255,1),
                0.5px 0.5px 0px rgb(0, 0, 0,0.15),
                0px 12px 10px -10px rgb(0, 0, 0,0.05);
}

#img{
    position: relative;
    left: 4%;
    bottom: -5%;
}



circle{
  
    fill: none;
    stroke: greenyellow;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 165; 
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
    right: -5vh;
    top: -5.1vh;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 0;
    }
}


.navigation{
    width: 400px;
    height: 70px;
    background-color:rgb(35, 46, 53) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width:  70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    color: white;
}

.navigation ul li:hover a .icon{
    transform: translateY(-35px);
    color: rgb(44, 182, 125);

}
.navigation ul li a .text{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li:hover a .text{
    opacity: 1;
    color: rgb(44, 182, 125);
}

.navigation ul li:first-child {
    margin-left: 0;
    margin-right: auto;
  }

  .navigation ul li:nth-child(2){
    margin-left: 0;
    margin-right: auto;
  }
 